# Ignore IDEA project files
/*.iml
/*.ipr
/*.iws

# Ignore the generated json file
/metadata.json

# Ignore the patch file generated when integrating changes
/patch.*
.kitchen/
.kitchen.local.yml

*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
  
# Berkshelf
.vagrant
/cookbooks
Berksfile.lock
  
# Bundler
Gemfile.lock
bin/*
.bundle/*
